@model C.R.E.A.M.Models.Album

@{
    ViewBag.Title = "Create Album";
    var genres = (SelectList)ViewBag.GenreId;
    var artists = (SelectList)ViewBag.ArtistId;
}

<h2>CreatAlbum</h2>

<form action="/StoreManage/CreatAlbum" method="post">
    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">Artist</label>
            <div class="col-md-10">

                <select class="form-control" id="ArtistId" name="ArtistId">
                    @foreach (var item in artists)
                    {
                        if (int.Parse(item.Value) == 1)
                        {
                            <option selected="selected" value="@item.Value">@item.Text</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>
                        }


                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Genre</label>
            <div class="col-md-10">

                <select class="form-control" id="GenreId" name="GenreId">
                    @foreach (var item in genres)
                    {
                        if (int.Parse(item.Value) == 1)
                        {
                            <option selected="selected" value="@item.Value">@item.Text</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>
                        }


                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Price</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="Price" value="0" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Title</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="Title" value="Title" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">URL</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="AlbumUrl" value="AlbumUrl" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Release</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ReleaseYear" value="Year" />
            </div>
        </div>
        <input id="AlbumId" name="AlbumId" type="hidden" value="@Model.AlbumId" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@Html.ActionLink("Back to Index", "Index")